<%- include("header")-%>
<div class="box" id="heading">
    <h1 class="heading"> This is the about page</h1>
</div>
<div class="box">
    <p>
        A to do list using ejs and json.
    </p>
</div>

<%- include("footer")-%>